@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.revistadelauniversidad.mx/fonts/Cormorant-Regular.ttf);
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: url(https://www.revistadelauniversidad.mx/fonts/Cormorant-Bold.ttf);
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: url(https://www.revistadelauniversidad.mx/fonts/Cormorant-Italic.ttf);
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  src: url(https://www.revistadelauniversidad.mx/fonts/Cormorant-BoldItalic.ttf);
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  src: url(https://www.revistadelauniversidad.mx/fonts/Cormorant-SemiBold.ttf);
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 600;
  src: url(https://www.revistadelauniversidad.mx/fonts/Cormorant-SemiBoldItalic.ttf);
}
