@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(https://www.revistadelauniversidad.mx/fonts/Overpass-Light.ttf);
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: url(https://www.revistadelauniversidad.mx/fonts/Overpass-LightItalic.ttf);
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://www.revistadelauniversidad.mx/fonts/Overpass-Regular.ttf);
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(https://www.revistadelauniversidad.mx/fonts/Overpass-Italic.ttf);
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(https://www.revistadelauniversidad.mx/fonts/Overpass-Bold.ttf);
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: url(https://www.revistadelauniversidad.mx/fonts/Overpass-BoldItalic.ttf);
}
