article.article-thumb {
  background-color: white;
  border-top: 3px solid #42505b;
  width: 100%;
  height: 10em;
  margin: 1em 0em;
}

article.article-thumb > figure {
  width: 10em;
  float: left;
  height: 100%;
}

@media (max-width: 72em) {
  article.article-thumb {
    height: var(--article-height);
  }

  article.article-thumb > figure {
    width: 100%;
    height: calc(var(--article-height) / 2);
  }

  article.article-thumb > div {
    margin: 0;
    padding: 1em;
  }
}
