nav {
  flex: 1 100%;
  width: 100%;
}

main {
  display: flex;
  flex-flow: row wrap;
}

section {
  flex: 1 100%;
  margin-top: 2em;
}

article {
  height: auto;
  padding: 0.5em;
  cursor: unset;
}

article img {
  border-radius: 3px !important;
  vertical-align: middle;
}

article ul {
  margin-top: 2em;
}

article li em {
  font-size: 1.2em;
}

article .date {
  font-size: small;
  font-family: Overpas, sans-serif;
}

article .bm {
  flex: 1 40%;
}

/* Desktop */
@media (min-width: 72em) {
  section {
    flex: 1 50%;
  }

  article {
    width: calc(100% - 2.2em);
    display: inline-flex;
    align-items: center;
  }

  article .excerpt {
    display: block;
    font-family: Cormorant, serif;
    font-size: 1.2em;
    flex: 1 60%;
  }
}
