article#header {
  display: flex;
  color: #FEFEFE;
  background-color: #d6b029;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 1em 0;
}

article#header #title,
article#header #date {
  font-size: 16vw;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

article#header #date {
  font-size: 1.5em;
}

article#header div {
  font-size: 0.8em;
  padding: 0 1em;
}

article#header div p {
  margin: 0;
}

section#selection article {
  height: var(--article-height);
  width: 100%;
}

section#selection article figure {
  width: 100%;
  height: calc(var(--article-height) / 2);
}

main {
  display: flex;
  flex-flow: row wrap;
}

h2 {
  margin-top: 0;
}

section#collabs {
  display: inline-block;
  width: 58.33%;
}

section#suggestions {
  display: inline-block;
  width: 41.66%;
}

section#collabs > a,
section#suggestions > a {
  width: 100%;
}

article.collab {
  height: 0;
  width: calc(33% - 0.78em) !important;
  padding-bottom: calc(33% - 0.78em) !important;

  margin: 0;
  margin-bottom: 1em;
}

article.collab:nth-of-type(3n + 1),
article.collab:nth-of-type(3n + 2) {
  margin-right: 1em;
}

article.suggestion {
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  height: auto;
}

@media (max-width: 50em) {
  section#collabs,
  section#suggestions {
    width: 100%;
  }

  article.collab {
    height: 0;
    width: calc(50% - 0.7em) !important;
    padding-bottom: calc(50% - 0.7em) !important;
  }

  article.collab:nth-of-type(3n + 1),
  article.collab:nth-of-type(3n + 2) {
    margin-right: 0;
  }

  article.collab:nth-of-type(2n + 1) {
    margin-right: 1em;
  }
}

/* Desktop complexities */
@media (min-width: 50em) {
  article#header {
    margin: 2em 1em;
  }

  article#header #title {
    font-size: 5em;
  }

  section {
    padding: 1em;
  }

  section#selection {
    position: relative;
    margin: -1em;
  }

  /*
   * |-------------------------------------|
   * |               |                     |
   * |       1       |           2         |
   * |               |                     |
   * |-------------------------------------|
   * |          |               |          |
   * |     3    |       4       |     5    |
   * |          |               |          |
   * |-------------------------------------|
   * |       6       |             |       |
   * |---------------|      8      |   9   |
   * |       7       |             |       |
   * |-------------------------------------|
   */

  section#selection article {
    margin: 1em;
    height: var(--article-height);
  }

  section#selection article:nth-of-type(1),
  section#selection article:nth-of-type(4),
  section#selection article:nth-of-type(8) {
    width: calc(40% - 2em);
  }

  section#selection article:nth-of-type(2) {
    width: calc(60% - 2.3em);
  }

  section#selection article:nth-of-type(2) div {
    width: 40% !important;
  }

  section#selection article:nth-of-type(2) figure {
    height: 100% !important;
    float: left !important;
    width: 60% !important;
  }

  section#selection article:nth-of-type(3),
  section#selection article:nth-of-type(5) {
    width: calc(30% - 2.3em);
  }

  section#selection article:nth-of-type(6),
  section#selection article:nth-of-type(7) {
    height: var(--half-article-height);
    width: calc(50% - 2.2em);
  }

  section#selection article:nth-of-type(7) {
    /* position: absolute; */
    /* left: 0; */
    /* top: 67.8em; */
  }

  section#selection article:nth-of-type(6) div,
  section#selection article:nth-of-type(7) div {
    width: 70%;
  }

  section#selection article:nth-of-type(6) figure,
  section#selection article:nth-of-type(7) figure {
    width: 30%;
    float: left;
    height: 100%;
  }
}
