main {
  display: flex;
  flex-flow: row wrap;
}

section#latest-releases {
  text-align: center;
  min-height: 60%;
  padding: 3em 1em 1em;
}

section#latest-releases article.release a {
  font-family: Overpass;
  font-style: normal;
  line-height: 2em;
  text-transform: uppercase;
}

section#latest-releases article.release a .date {
  font-size: 0.5em;
}

h2 {
  margin-top: 0;
}

section#suggestions article.suggestion {
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  height: auto;
}

/* Mobile */
@media (max-width: 50em) {
  section {
    width: 100%;
    padding: 1em 0;
  }

  section#collabs article.collab {
    height: 0;
    width: calc(50% - 0.7em) !important;
    padding-bottom: calc(50% - 0.7em) !important;
  }

  section#collabs article.collab:nth-of-type(3n + 1),
  section#collabs article.collab:nth-of-type(3n + 2) {
    margin-right: 0;
  }

  section#collabs article.collab:nth-of-type(2n + 1) {
    margin-right: 1em;
  }
}

/* Desktop complexities */
@media (min-width: 50em) {
  section {
    padding: 2em 1em;
  }

  section#latest-releases {
    width: 100%;
  }

  section#latest-releases article.release {
    height: 0;
    width: calc(33% - 0.6em) !important;
    padding-bottom: calc(33% - 0.6em) !important;
    margin: 0;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  section#latest-releases article.release:nth-of-type(3) {
    margin-right: 0;
  }

  section#latest-releases article.release a {
    font-size: 2em;
  }
  section#collabs {
    display: inline-block;
    width: 58.33%;
  }

  section#collabs article.collab {
    height: 0;
    width: calc(33% - 0.78em) !important;
    padding-bottom: calc(33% - 0.78em) !important;

    margin: 0;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  section#collabs article.collab:nth-of-type(3n) {
    margin-right: 0;
  }

  section#suggestions {
    display: inline-block;
    width: 41.66%;
  }
}
