header h1 {
  text-transform: uppercase;
}

header h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}

header blockquote {
  border: none;
}

header blockquote p {
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  font-size: 1.3em;
}

section {
  clear: both;
}

section > a[href="#sub-nav"] {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 4em;

  z-index: 2;
}

h2.editorial,
a.editorial {
  display: none;
}

h2.dossier {
  background-color: #dd9980;
  border-top: 3px solid #6a3724;
}

h2.panóptico {
  background-color: #048a81;
  border-top: 3px solid #185463;
}

h2.crítica {
  background-color: #1b203f;
  border-top: 3px solid #33494d;
}

h2.multimedia {
  background-color: #70555d;
  border-top: 3px solid #583438;
}

article.article-thumb > div > .section-label {
  display: none;
}

#release-quote {
  width: calc(50% - 2.1em);
  margin: 1em;
  float: right;
}

#release-quote > blockquote {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: var(--half-article-height);
}

article figure p {
  text-align: center;
  color: #333;
  width: 100%;
  font-size: small;
}

main > nav {
  display: flex;
  flex-flow: row wrap;
  height: auto;

  padding-top: 4.5em;
  margin-top: -3.5em;
}

main > nav a {
  flex: 1 33%;
}

/* desktop specifics */
@media (min-width: 72em) {
  header {
    padding: 6em 0;
  }

  section h2 {
    margin: 1em 0.8em;
  }

  main > nav a {
    flex: 1;
  }

  /*************/
  /* EDITORIAL */
  /*************/

  section.editorial {
    width: calc(50% - 2.1em);
    display: inline-block;
    vertical-align: top;
  }

  article.editorial {
    height: var(--half-article-height);
  }

  article.editorial figure {
    width: 50%;
    height: 100%;
    float: left;
  }

  /***********/
  /* DOSSIER */
  /***********/

  article.dossier:nth-of-type(1) figure {
    width: 100% !important;
  }

  article.dossier:nth-of-type(2) {
    width: calc(60% - 2em) !important;
  }

  article.dossier:nth-of-type(2) div {
    width: 40% !important;
  }

  article.dossier:nth-of-type(2) figure {
    height: 100% !important;
    float: left !important;
    width: 60% !important;
  }

  /*
   * multiples of 4n are hard to set given the flow of the html
   * these are the small ones:
   *
   * |-----------------------------------------------|
   * |     4n + 3      |                  |          |
   * |-----------------|      4n + 1      |  4n + 2  |
   * |        4n       |                  |          |
   * |-----------------------------------------------|
   */

  article.dossier:nth-of-type(4n) {
    position: relative;
    margin-left: calc(-1 * calc(40% - 2em) - 0.9em);
    margin-top: 15em;
  }

  article.dossier:nth-of-type(4n),
  article.dossier:nth-of-type(4n+1),
  article.dossier:nth-of-type(4n+3) {
    width: calc(40% - 2.3em);
  }

  article.dossier:nth-of-type(4n),
  article.dossier:nth-of-type(4n+3) {
    height: var(--half-article-height);
  }

  article.dossier:nth-of-type(4n+2) {
    width: calc(20% - 2em);
  }

  article.dossier:nth-of-type(4n) div,
  article.dossier:nth-of-type(4n+3) div {
    width: 70%;
  }

  article.dossier:nth-of-type(4n) figure,
  article.dossier:nth-of-type(4n+3) figure {
    width: 30%;
    float: left;
    height: 100%;
  }

  article.dossier:nth-of-type(4n+1) figure,
  article.dossier:nth-of-type(4n+2) figure {
    width: 100%;
    height: calc(var(--half-article-height) + 2em);
  }

  /* If the last row has only 3 articles */

  /*
   * |------------------------------------|
   * |           |            |           |
   * |  last(3)  |   last(2)  |  last(1)  |
   * |           |            |           |
   * |------------------------------------|
   */

  article.dossier:nth-of-type(4n+3):nth-last-child(3),
  article.dossier:nth-of-type(4n):nth-last-child(2),
  article.dossier:nth-of-type(4n+1):nth-last-child(1), /* intentionally unfinished... */

  /* If the last row has only 1 article, we treat the last two rows as 3 + 2 */

  /*
   * |-----------------------------------|
   * |           |           |           |
   * |  last(5)  |  last(4)  |  last(3)  |
   * |           |           |           |
   * |-----------------------------------|
   * |                |                  |
   * |    last(2)     |     last(1)      |
   * |                |                  |
   * |-----------------------------------|
   */

  article.dossier:nth-of-type(4n+3):nth-last-child(5),
  article.dossier:nth-of-type(4n):nth-last-child(4),
  article.dossier:nth-of-type(4n+1):nth-last-child(3) {
    position: relative;
    width: calc(33% - 1.99em);
    height: var(--article-height);
    margin: 1em;
  }

  article.dossier:nth-of-type(4n+2):nth-last-child(2),
  article.dossier:nth-of-type(4n+3):nth-last-child(1) {
    position: static;
    width: calc(50% - 2.2em);
    height: var(--article-height);
  }

  /* the figures on the cases above: */

  article.dossier:nth-of-type(4n+3):nth-last-child(5) figure,
  article.dossier:nth-of-type(4n):nth-last-child(4) figure,
  article.dossier:nth-of-type(4n+1):nth-last-child(3) figure,

  article.dossier:nth-of-type(4n+3):nth-last-child(3) figure,
  article.dossier:nth-of-type(4n):nth-last-child(2) figure,
  article.dossier:nth-of-type(4n+1):nth-last-child(1) figure {
    width: 100%;
    height: var(--half-article-height);
  }

  article.dossier:nth-of-type(4n+2):nth-last-child(2) figure,
  article.dossier:nth-of-type(4n+3):nth-last-child(1) figure {
    width: 100%;
    height: var(--half-article-height);
    float: unset;
  }

  /*************/
  /* PANÓPTICO */
  /*************/

  article.panóptico:nth-of-type(1),
  article.panóptico:nth-of-type(2) {
    width: calc(50% - 2.15em);
  }

  article.panóptico:nth-of-type(3),
  article.panóptico:nth-of-type(4),
  article.panóptico:nth-of-type(5) {
    width: calc(33% - 1.99em);
  }

  article.panóptico figure {
    width: 100%;
    height: calc(var(--half-article-height) + 4em);
  }

  /***********/
  /* CRÍTICA */
  /***********/

  /*
   * |-------------------------------------|
   * |          |               |          |
   * |  6n + 1  |     6n + 2    |  6n + 3  |
   * |          |               |          |
   * |-------------------------------------|
   * |               |          |          |
   * |     6n + 4    |  6n + 5  |    6n    |
   * |               |          |          |
   * |-------------------------------------|
   */

  article.crítica:nth-of-type(6n),
  article.crítica:nth-of-type(6n + 1),
  article.crítica:nth-of-type(6n + 3),
  article.crítica:nth-of-type(6n + 5) {
    width: calc(30% - 1.8em);
  }

  article.crítica:nth-of-type(6n + 2),
  article.crítica:nth-of-type(6n + 4) {
    width: calc(40% - 3em);
  }

  article.crítica figure {
    width: 100%;
    height: calc(var(--half-article-height) + 4em);
  }

  /* Sometimes we only have 5 articles, so */

  /*
   * |-------------------------------------|
   * |          |               |          |
   * |  6n + 1  |     6n + 2    |  6n + 3  |
   * |          |               |          |
   * |-------------------------------------|
   * |                  |                  |
   * |      6n + 4      |      6n + 5      |
   * |                  |                  |
   * |-------------------------------------|
   */

  article.crítica:nth-of-type(4):nth-last-child(2),
  article.crítica:nth-of-type(5):nth-last-child(1) {
    width: calc(50% - 2.2em);
  }

  /**************/
  /* MULTIMEDIA */
  /**************/

  article.multimedia {
    width: calc(33% - 1.99em);
  }
}
