<link rel="stylesheet" href="/stylesheets/collab-thumb.css">
<link rel="stylesheet" href="/stylesheets/collabs.css">

<style>
  body, html {
    height: 100%;
  }

  main {
    min-height: 60%;
    width: 60em;
    padding: 0 1em;
  }

  main p {
    font-family: 'Cormorant', serif;
    font-size: 1.2em;
  }

  article.collab a {
    font-family: Overpass;
    font-style: normal;
    line-height: 2em;
    text-transform: uppercase;
  }

  article.collab a .date {
    font-size: 0.5em;
  }
</style>

<main>
  <div>
    {{# releases}}
    {{> release_thumb}}
    {{/ releases}}
  </div>

  <hr>

  {{{content}}}
</main>
