<link rel="stylesheet" href="/stylesheets/article.css">

<script src="/javascripts/capcap.js"></script>
<script src="/javascripts/footnotes.js"></script>
<script src="/javascripts/expandable.js"></script>
<script src="/javascripts/loadasset.js"></script>

<aside id="more-articles"
       class="no-mobile">
  <span>Lea también</span>
  <br><br><br>

  {{# articles_suggestion}}
  {{> article_thumb}}
  {{/ articles_suggestion}}
</aside>

{{# article}}
<header style="background-image: url({{cover}})">
  <div class="fuzz"></div>

  <div class="titles">
    <h1>{{# md}}{{title}}{{/ md}}</h1>
    <h2>{{# md}}{{subtitle}}{{/ md}}</h2>

    <h3>{{release.name}} <span style="font-size: 0.6em;">({{month_year}})</span> {{# section_name}}/ {{section_name}}{{/ section_name}}</h3>
  </div>

  <h3>{{{authors_list}}}</h3>

  {{# collabs_group}}
  <h4>{{long_relation}}: {{{collabs_list}}}</h4>
  {{/ collabs_group}}
</header>

<main>
  <blockquote>
    {{# md}}{{quote}}{{/ md}}
  </blockquote>

  <div id="content">
    {{# md}}{{{content}}}{{/ md}}

    {{# asset}}
    <noscript>
      <pre>{{asset}}</pre>
    </noscript>
    {{/ asset}}
  </div>

  <aside>
    {{> article_file}}

    {{> article_tags}}
  </aside>
</main>

<script>
  document.onreadystatechange = () => {
    if (document.readyState != "interactive") return;

    if (document.body.clientHeight < 2300)
      document.querySelector('#more-articles').remove();

    var a = document.querySelector('p.asset-video');
    if (a) {
      a['onclick'] = function() { _loadasset(this, '{{id}}', 'video', true) };

      a.innerHTML = `
        <div style="background-image: url(/images/rum-u-tv.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    position: relative;
                    margin: 1em auto !important;
                    width: 300px;
                    height: 300px;">
          <div class="fuzz"
               style="position: static !important;
                      text-align: center;
                      color: white;
                      margin: 1em auto !important;
                      padding: 40px;">
          <svg style="width:64px; height:64px; margin-bottom: 0.3em; vertical-align: middle;" viewBox="0 0 24 24">
            <path fill="white" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z" />
          </svg> &nbsp; YouTube
          </div>
        </div>`;
    }

    var a = document.querySelector('p.asset-audio');
    if (a) _loadasset(a, '{{id}}', 'audio', true);

    _capcap();
    _footnotes();
    _expandables();
  }
</script>
{{/ article}}
