{{# file}}
<section>
  <a href="{{file}}" target="_blank" download="{{file_seo_name}}">
    <strong><span class="mdi mdi-download"></span>&nbsp;Descargar {{file_format}}</strong>
  </a>
</section>
{{/ file}}
