<article class="article-thumb {{section_name}} {{metadata.subsection}}">
  {{# is_video}}
  {{# content}}
  <figure style="background-image: url({{cover}});
                 position: relative;"
          onclick="_loadvideo(this, '{{id}}');">
    <div class="fuzz"
         style="text-align: center;
                font-size: 7em;
                color: white;
                padding: 40px;">
      <svg style="width:64px;height:64px" viewBox="0 0 24 24">
        <path fill="#f1f1f1" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z" />
      </svg>
    </div>
  </figure>
  {{/ content}}

  {{^ content}}
  <figure style="text-align:center;
                 display: flex;
                 align-items: center;">
    <p><em style="flex: 1;">{{quote}}</em></p>
  </figure>
  {{/ content}}
  {{/ is_video}}

  {{# is_audio}}
  <figure style="text-align:center;">
  {{# file}}
  <audio controls="" preload="none">
    No se deja esta cosa tocar audio...
    <source src="{{file}}">
  </audio>
  {{/ file}}

  {{^ file}}
  <p><em>{{quote}}</em></p>
  {{/ file}}
  </figure>
  {{/ is_audio}}

  <div onclick="window.location = '/articles/{{id}}/{{seo_title}}';">
    {{# release_name}}
    <label class="section-label">{{release_name}}</label>
    {{/ release_name}}

    {{# section_name}}
    <span class="section-label"> / </span>
    <label class="{{section_name}} section-label">{{section_name}}</label>
    {{/ section_name}}

    {{# metadata.subsection}}
    <span class="section-label"> - </span>
    <label class="subsection-label {{section_name}}">
      {{# is_audio}}radio{{/ is_audio}}
      {{# is_video}}tv{{/ is_video}}
    </label>
    {{/ metadata.subsection}}

    <h3>{{# md}}{{title}}{{/ md}}</h3>

    <ul class="collabs-list">
      {{# collaborations}}
      <li>
        {{# collabs}}
        <em>{{name}}</em>
        {{/ collabs}}
      </li>
      {{/ collaborations}}
    </ul>
  </div>
</article>
