<link rel="stylesheet" href="/stylesheets/article.css">

<script src="/javascripts/capcap.js"></script>
<script src="/javascripts/footnotes.js"></script>
<script src="/javascripts/expandable.js"></script>
<script src="/javascripts/loadasset.js"></script>

<aside id="more-articles"
       class="no-mobile">
  <span>Lea también</span>
  <br><br><br>

  {{# articles_suggestion}}
  {{> article_thumb}}
  {{/ articles_suggestion}}
</aside>

{{# article}}
<header style="background-image: url({{cover}})">
  <div class="fuzz"></div>

  <div class="titles">
    <h1>{{# md}}{{title}}{{/ md}}</h1>
    <h2>{{# md}}{{subtitle}}{{/ md}}</h2>

    <h3>{{release.name}} <span style="font-size: 0.6em;">({{month_year}})</span> {{# section_name}}/ {{section_name}}{{/ section_name}}</h3>
  </div>

  <h3>{{{authors_list}}}</h3>

  {{# collabs_group}}
  <h4>{{long_relation}}: {{{collabs_list}}}</h4>
  {{/ collabs_group}}
</header>

<main>
  <blockquote>
    {{# md}}{{quote}}{{/ md}}
  </blockquote>

  <div id="content">
    {{# md}}{{{content}}}{{/ md}}

    {{# asset}}
    <noscript>
      <pre>{{asset}}</pre>
    </noscript>
    {{/ asset}}
  </div>

  <aside>
    {{> article_file}}

    {{> article_tags}}
  </aside>
</main>

<script>
  document.onreadystatechange = () => {
    if (document.readyState != "interactive") return;

    if (document.body.clientHeight < 2300)
      document.querySelector('#more-articles').remove();

    var a = document.querySelector('p.asset-video');
    if (a) a['onclick'] = function() { _loadasset(this, '{{id}}', 'video', true) };

    var a = document.querySelector('p.asset-audio');
    if (a) a['onclick'] = function() { _loadasset(this, '{{id}}', 'audio', true) };

    _capcap();
    _footnotes();
    _expandables();
  }
</script>
{{/ article}}
