<link rel="stylesheet" href="/stylesheets/article-thumb.css">
<link rel="stylesheet" href="/stylesheets/blog.css">

<main>
    <h2 style="text-transform: uppercase;
               text-align: center;
               color: #a8a8a8;
               margin-top: 1.5em;
               width: 100%;
               flex: 1 100%;
               clear: both;
               margin-bottom: 0em;">Blogs de la Revista</h2>

  <nav id="sub-nav" class="no-desktop">
    {{# categories}}
    <a href="#{{slug}}">{{name}}</a>
    {{/ categories}}
  </nav>

  {{# categories}}
  <section id="{{slug}}" class="{{name}}">
    <h3>Ultimo post en <a href="https://blog.revistadelauniversidad.mx/category/{{slug}}">{{name}}</a></h3>

    {{# posts}}
    {{> blog_post_thumb}}
    {{/ posts}}
  </section>
  {{/ categories}}
</main>
