<link rel="stylesheet" href="/stylesheets/article-thumb.css">
<link rel="stylesheet" href="/stylesheets/blog.css">

<main>
  {{# posts}}
  <article class="article-thumb">
    <div>
      <h2><a href="{{{link}}}" target="_blank">{{{title.rendered}}}</a></h2>

      <span style="text-transform: uppercase; font-size: small;">{{category}}</span>

      <ul class="collabs-list">
        {{# _embedded.author}}
        <li>
          <img alt="{{name}} avatar" src="{{avatar_urls.96}}" height="64" width="64">
          &nbsp;&nbsp;&nbsp;
          <em>{{name}}</em>
        </li>
        {{/ _embedded.author}}
      </ul>
    </div>

    <div class="excerpt">
      <strong class="date">{{created}}</strong>

      {{{excerpt.rendered}}}

      <a href="{{{link}}}" target="_blank">Post completo</a>
    </div>
  </article>
  {{/ posts}}
</main>
