<article class="article-thumb">
  <div class="bm">
    <h4><a href="{{{link}}}" target="_blank" style="font-size: 1.2em">{{{title.rendered}}}</a></h4>

    <ul class="collabs-list">
      {{# _embedded.author}}
      <li>
        <img alt="{{name}} avatar" src="{{avatar_urls.96}}" height="64" width="64">
        <div style="margin-top: 1em;"><em>{{name}}</em></div>
      </li>
      {{/ _embedded.author}}
    </ul>
  </div>

  <div class="excerpt">
    <strong class="date">{{created}}</strong>

    {{{excerpt.rendered}}}
  </div>
</article>
