<link rel="stylesheet" href="/stylesheets/collab-thumb.css">
<link rel="stylesheet" href="/stylesheets/collabs.css">

<main>
  {{> collabs_nav }}

  <div>
    {{# collabs}}
    {{> collab_thumb}}
    {{/ collabs}}
  </div>
</main>
