<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1">

    <meta name="description" content="Suscripción - Revista de la Universidad">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized"  content="640">

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <title>{{status}} - Revista de la Universidad</title>

    <style>
      body {
        background-color: #313131;
        text-align: center;
        margin: 0;
        font-family: sans-serif;
        color: white;
      }

      img {
        width: 18em;
        margin: 4em;
      }

      a {
        text-decoration: none;
        color: #6F535B;
      }
    </style>
  </head>

  <body>
    <img src="/images/rum-logo.png"
         alt="Revista de la Universidad de México">

    <p><strong>error {{status}}:</strong> {{message}}</p>

    <br>

    <p><a href="/">De vuelta a la revista</a></p>
  </body>
</html>
