<footer>
  <div>
    <label>Nosotros</label>

    <ul>
      <li><a href="/about">¿Quiénes&nbsp;somos?</a></li>
      <!-- <li><a href="/contact">Contacto</a></li> -->
      <li><a href="/directory">Directorio</a></li>
    </ul>
  </div>

  <div>
    <label>Enlaces Externos</label>

    <ul>
      <li><a href="/find_us">Encuéntranos en librerías</a></li>
      <li><a href="/related">Sitios&nbsp;amigos</a></li>
    </ul>
  </div>

  <a href="#"
     style="height: 6em;"
     class="no-mobile">
    <img src="/images/pleca-unam.jpg"
         alt="UNAM"
         style="height: 8em;"></a>

  <div>
    <label>Participación</label>

    <ul>
      <li><a href="/publish">Colaborar en la revista</a></li>
      <!-- <li><a href="/announcements">Convocatorias</a></li> -->
    </ul>
  </div>

  <div>
    <label>Más Información</label>

    <ul>
      <li><a href="/privacy">Privacidad</a></li>
      <!-- <li><a href="/transparency">Transparencia</a></li> -->
      <!-- <li><a href="/legal">Legal</a></li> -->
    </ul>
  </div>
</footer>
