<footer>
  <a href="/about">¿Quiénes&nbsp;somos?</a>
  <a href="/directory">Directorio</a>
  <a href="/find_us">Encuéntranos en librerías</a>
  <a href="#"
     style="height: 6em;">
    <img src="/images/pleca-unam.png"
         alt="UNAM"
         style="height: 8em;"></a>
  <a href="/privacy">Transparencia</a>
  <a href="/related">Sitios&nbsp;amigos</a>
  <a href="/publish">Publicar en la revista</a>
</footer>
