<link rel="stylesheet" href="/stylesheets/collab-thumb.css">
<link rel="stylesheet" href="/stylesheets/release-thumb.css">
<link rel="stylesheet" href="/stylesheets/index.css">

<main>
  <section id="latest-releases">
    {{# latest_releases}}
    {{> release_thumb}}
    {{/ latest_releases}}
  </section>

  <section id="selection">
    <a href="/archive">
      <h2 style="background-color: #DD9980;
          border-top: 3px solid #6a3724;">Selección</h2>
    </a>

    {{# articles_suggestion}}
    {{> article_thumb}}
    {{/ articles_suggestion}}
  </section>

  <section id="collabs">
    <a href="/collabs">
      <h2 style="background-color: #1b203f;
                 border-top: 3px solid #33494d;">Colaboradores</h2>
    </a>

    {{# collaborators}}
    {{> collab_thumb}}
    {{/ collaborators}}
  </section>

  <section id="suggestions">
    <a href="/suggestions">
      <h2 style="background-color: #048a81;
                 border-top: 3px solid #185463;">La RUM recomienda</h2>
    </a>

    {{# suggestions}}
    {{> suggestion_thumb}}
    {{/ suggestions}}
  </section>
</main>
