<nav id="site-nav">
  <input id="toggle"
         class="no-desktop"
         type="checkbox">

  <a href="#"
     class="no-desktop">
    <label for="toggle">
      <svg style="width:24px;height:24px" viewBox="0 0 24 14">
        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>&nbsp;
    </label>
  </a>

  {{> u}}

  <a href="/releases/{{current_release.id}}"
     class="toggleable">Número&nbsp;Actual</a>

  <a href="/archive"
     class="toggleable">Archivo</a>

  <a href="/collabs"
     class="toggleable">Colaboradores</a>

  <a href="/about"
     class="toggleable no-desktop">¿Quiénes&nbsp;somos?</a>

  <a href="/blog"
     class="toggleable">Blogs</a>

  <a href="/search"
     class="toggleable"
     style="flex: 0;
            padding: 6px 1em 0 1em;
            font-size: 1.5em;">
    <svg style="width:24px; height:24px" viewBox="0 0 24 24">
      <path fill="#f1f1f1" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
    </svg>
  </a>

  <div class="toggleable no-desktop"
       style="line-height: 5.5em !important;
              height: 4em !important;">
    <a href="#"
       class="twitter-share-link no-desktop"
       target="_blank"
       style="display: inline;">
      <img src="/images/twitter-button.png"
           alt="Twitter share link"
           style="height: 3em;">
    </a>
    &nbsp;    &nbsp;
    <a href="#"
       class="facebook-share-link no-desktop"
       target="_blank"
       style="display: inline;">
      <img src="/images/facebook-button.png"
           alt="Facebook share link"
           style="height: 3em;">
    </a>
  </div>

  <div class="toggleable"
       style="flex: 0;
              padding: 0.8em;">
    <a href="/mailing/signup"
       style="font-weight: bold;
              background-color: #E3655A;
              line-height: 3em;
              padding: 0 1.5em;">
      Suscribirme
    </a>
  </div>

  <script>
    (function() {
      for (var l of document.querySelectorAll('nav#site-nav a'))
        (l.href === location.href && location.pathname !== '/') ? l.classList.add('active') : null;

      {{# is_in_current_release}}
      document.querySelector('nav#site-nav a[href*="/releases/"]')
        .classList.add('active');
      {{/ is_in_current_release}} ///
      {{^ is_in_current_release}}
      if (location.href.match(/\/articles\//))
        document.querySelector('nav#site-nav a[href="/archive"]')
        .classList.add('active');
      else if (location.href.match(/\/collabs.*/))
        document.querySelector('nav#site-nav a[href="/collabs"]')
        .classList.add('active');
      {{/ is_in_current_release}} ///
    })();
  </script>
</nav>
