<article style="background-image: url({{cover}});"
         class="collab">
  <div class="fuzz"></div>
  <a href="/releases/{{id}}/{{seo_name}}">
    <span class="date">{{simple_date}}</span>
    <br>
    <h4>{{name}}</h4>
  </a>
</article>
