<link rel="stylesheet" href="/stylesheets/release.css">

<script src="/javascripts/loadvideo.js"></script>

{{# release}}
<header style="background-image: url({{cover}})">
  <div class="fuzz"></div>

  <h4>{{month_year}}</h4>
  <h1>{{name}}</h1>

  <br>

  {{# file}}
  <strong><a href="{{file}}" target="_blank" download="{{file_seo_name}}"><span class="mdi mdi-download"></span>&nbsp;Descargar PDF</a></strong>
  {{/ file}}
</header>
{{/ release}}

<main>
  <nav id="sub-nav">
    {{# sections}}
    <a href="#{{section_name}}" class="{{section_name}}">{{section_name}}</a>
    {{/ sections}}
  </nav>

  <section id="release-quote"
           class="no-mobile">
    {{# quotes}}
    <blockquote>
      {{# md}}{{content}}{{/ md}}
      <strong style="flex: 0 0 100%; text-align: right;">- {{author}}</strong>
    </blockquote>
    {{/ quotes}}
  </section>

  {{# sections}}
  <section class="{{section_name}}">
    <a href="#sub-nav">
      <h2 id="{{section_name}}" class="{{section_name}}">
        <span style="float: right; margin-right: 0.5em;" class="mdi mdi-arrow-up"></span>
        {{section_name}}
      </h2>
    </a>

    {{# articles}}
    {{^ is_multimedia}}
    {{> article_thumb}}
    {{/ is_multimedia}}

    {{# is_multimedia}}
    {{> article_thumb_multimedia}}
    {{/ is_multimedia}}
    {{/ articles}}
  </section>
  {{/ sections}}
</main>
