<style>
aside#sharebuttons {
  position: fixed;
  right: 0;
  top: 15em;
  width: 2.5em;
  background-color: #dddddd;
  color: #757779;
  text-align: center;
  z-index: 6;
}

aside#sharebuttons > span {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  transform: rotate(-90deg) translate(-2.5em,-4em);
  /* transform: rotate(-90deg) translate(-5em,-2em); */
}

aside#sharebuttons div {
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
}

aside#sharebuttons div a {
  display: block;
}

aside#sharebuttons div a img {
  vertical-align: middle;
}

@media (max-width: 78em) {
  aside#sharebuttons {
    display: none !important;
  }
}
</style>

<aside id="sharebuttons"
       class="no-mobile">
  <span>
    Comparte
  </span>

  <div>
    <a href="#"
       class="twitter-share-link"
       target="_blank">
      <img src="/images/twitter-logo.png"
           alt="Twitter share link">
    </a>
  </div>

  <div>
    <a href="#"
       class="facebook-share-link"
       target="_blank">
      <img src="/images/facebook-logo.png"
           alt="Facebook share link">
    </a>
  </div>

  <!-- <div> -->
  <!--   <a href="#" -->
  <!--      id="link-share-link"> -->
  <!--   <img src="/images/link-logo.png" -->
  <!--        alt="Link share link"> -->
  <!--   </a> -->
  <!-- </div> -->
</aside>

<script>
  function ready(fn) {
    if (document.attachEvent ?
        document.readyState === "complete" :
        document.readyState !== "loading") fn();

    else
      document.addEventListener('DOMContentLoaded', fn);
  };

  ready(() => {
    var loc = window.location.href;

    var tls = document.querySelectorAll('a.twitter-share-link')
    for (var l of tls)
      l.href = `https://twitter.com/share?text=Revista de la Universidad&url=${loc}&hashtags=`;

    var fls = document.querySelectorAll('a.facebook-share-link')
    for (var l of fls)
      l.href = `https://www.facebook.com/sharer/sharer.php?u=${loc}`;

    // document.querySelector('a#link-share-link').href = `#`;
  });
</script>
