<a href="/"
   style="font-weight: normal;
          height: 5em;
          min-width: 12em !important;
          margin: auto;
          padding: 10px;">
  <img src="/images/rum-u.png"
       alt="U"
       style="height: 3.2em;
              display: inline-block;
              margin-right: 3px;">

  <div style="width: 7.5em;
              display: inline-block;
              line-height: 1.24em !important;
              text-transform: uppercase;
              text-align: left !important;">
    Revista de la Universidad de México
  </div>
</a>
