<a href="/"
   style="font-weight: normal;
          height: 5em;
          min-width: 12em !important;
          margin: auto;
          padding: 10px;">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAABNCAYAAADkSzelAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
            WXMAAJnKAACZygHjkaQiAAAAB3RJTUUH4QsXEhcp80FXVAAAAB1pVFh0Q29tbWVudAAAAAAAQ3Jl
            YXRlZCB3aXRoIEdJTVBkLmUHAAAB6UlEQVRo3u3bMYvUUBQF4HNeMiOMZpxJZWExWuiCgiIsFqKN
            WFgIVvYW4j/QRjtrsRX/gQhiZeOiLIidaLGNFk5h5cCQDNjNvGOzhSzouibr+IZzqzQ34cvNy7sX
            ElZV9RrACA2C5DzGeGc4HD7fS15d19cAPJSUo1mMcwAjko0gkuYkD/zFDejGGEck84bXR8CKhCGG
            GGKIIYYYYoghhhhiiCGGGGKIIYYYYoghhhhiiCGGGGKIIYYYYoghhhhiiCGGGGIIAIQQDiUPIZnH
            GE8sFUJy3tK5LtV1fXJpEEnfW6rKeUl3J5PJ2jIguaRvJNES5ma32z1dVdUmgE+SprukXGgNEkL4
            DOBKizdnneT69vFvH9sYI5p+hf1zRbYAiG2VZcdL4J+tkcVi8QFAnfw+UpblFoCPyUNI1gBercTO
            3ul0XgL4mjyk1+u9jzG+SB5CUpKeAviSfNNYluUmyScr0f3GGB9LepY8ZDAYTEMIjwC8SX4e6ff7
            b0MIDyS9S36wKopiI8uy+ylV5peDVVEUGyTvpbJmdm0Uq6oqAdwmeQvAsf8RIWn8xx3vbDa7KOkG
            gOsAjiYL2U5gXdfnAFwleRnAGUmD/RgB9hWyI/nwdDo9lWXZWZJrJI9LOiLpIMm8hf9v9xLjHzXg
            oX8yLMASAAAAAElFTkSuQmCC"
       alt="U"
       style="height: 3.2em;
              display: inline-block;
              margin-right: 3px;">

  <div style="width: 7.5em;
              display: inline-block;
              line-height: 1.24em !important;
              text-transform: uppercase;
              text-align: left !important;">
    Revista de la Universidad de México
  </div>
</a>
